pipeline/PL_RegisterMetadata.json
{
	"name": "PL_RegisterMetadata",
	"properties": {
		"activities": [
			{
				"name": "GetFolderNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM audit.ETL_Config\nwhere isactive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Folders",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopInFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderNames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetFolderName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FolderName",
								"value": {
									"value": "@item().FolderPath",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExecuteChild",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SetFolderName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_MetaDataChild",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"param_foldername": {
										"value": "@variables('FolderName')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FolderName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-22T06:45:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}